[submodule "games/monkeytype"]
	path = games/monkeytype
	url = https://github.com/sinhvienaiti/monkeytype.git
	branch = feature/en-vn-translation
[submodule "games/vocab-shooter"]
	path = games/vocab-shooter
	url = https://github.com/sinhvienaiti/vocab-shooter.git
	branch = main
[submodule "games/recall-typing"]
	path = games/recall-typing
	url = https://github.com/sinhvienaiti/recall-typing.git
	branch = main
[submodule "games/karaoke-typing"]
	path = games/karaoke-typing
	url = https://github.com/sinhvienaiti/karaoke-typing.git
	branch = main
